
img {
    width:700px ;
}

.img1 {
    filter: blur(30px);
}

.img2 {
    filter: brightness(200%); 
}

.img3{
    filter: contrast(200%);
}

.img4{
    filter: drop-shadow(8px 8px 10px gray);
}

.img4{
    filter: grayscale(100%);
}

.img5{
    filter: hue-rotate(90deg);
}

.img6{
    filter: invert(100%);
}

.img7{
    filter: opacity(30%);
}

.img8 {
    filter: saturate(8);
}

.img9{
    filter: sepia(100%);
}

.img10{
    filter: contrast(200%) brightness(150%);
}

