.a {
    width: 150px;
    height: 150px;
    display: inline-block;
}

ul{
    background-color: gray;
    padding: 20px;
    display: none;/*faz ndesaparecer o elemento e o espaço que ele ocupa*/
}

ul li {
    display: inline; /*para deixaos elementos em linha*/
    margin: 20px;
}

h1 {
    visibility: hidden;/*faz desaaparecer o elemento desaparecer mas deixando os espaço que ele ocupa*/
}

h2 {
    opacity: 0.2; /*transparencia do elemento*/
}