h1 {
    color: var(--cor-primaria);
}

h2 {
    color: var(--color-secundary)
}

p {
    color: var(--cor-primaria);
    margin: var(--spacing);
}

button {
    background: var(--cor-primaria);
    color: #ffffff;
}