body {
    background: #b1b1b1;
    font-family: 'Raleway', sans-serif;/*FONTE DO TEXTO*/
    color: rgb(18 17 17);
    margin: 0;
}

.conteiner {
    width: 700px;
    margin: 0 auto; /*USADO PARA FAZER CENTRALIZAÇÃO, NESSE CASO, DA DIV*/
}

.profile{
    text-align: center;
    margin-bottom: 40px;
}

.foto-principal {
    width: 200px;
    border: 2px solid #ffffff; /*expessura tipo cor -- modelo shorthand*/
    border-radius: 50%; /*bordas redondas*/
    /*margin: 30px 30px 30px 30px; /*shorterhand -- top right bottom left */
    /*margin: 30px; /*para valores todos iguas voce simplifica em um só*/
    margin: 30px 30px 0 30px;
    
    box-shadow: 0px 0px 20px #000000; /*espaçamentohorizon espalamentovert opacidade cor *//*sombra*/
}

h1{
    margin-top:10px;
    margin-bottom: 0px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
}

h2{
    margin-top: 0px;
    font-style: italic; /*ESTILO DA FONTE*/
    color: #4c4c4c;
    font-weight: 100;/*EXPESSURA DA FONTE*/
    letter-spacing: -2px;/*ESPAÇAMENTO DA LETRA*/
}

p{
    line-height:25px;/*espaçamento entre linhas */
    margin-top: 0;
}

.social-icons{
    width: 40px;
}

.social-links{
    text-decoration: none; 
}

.instagram{
    margin: 0 15px;
}

.jobs-list{
    list-style:none;
    padding-left:20px;
}

h4{
    margin-bottom: 0;
}

h5{
   margin: 0 auto 0 auto;
   font-weight: 100;
   font-style: italic;
}

.footer {
    margin-top: 40px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

.contact {
    text-decoration: none;
    color: #ffffff;
}