body {
    background: #b1b1b1;
}

p {
    color: rgb(53, 49, 49);
}

.foto-principal {
    width: 200px;
    border: 2px solid #ffffff; /*expessura tipo cor -- modelo shorthand*/
    border-radius: 50%; /*bordas redondas*/
    /*margin: 30px 30px 30px 30px; /*shorterhand -- top right bottom left */
    margin: 30px; /*para valores todos iguas voce simplifica em um só*/
    padding: 10px;
}