
.container {
    display: flex;
    /*ROW*/
    flex-direction: row;
    /*flex-direction: row-reverse;*/

    /*COLUMN
    flex-direction: column;
    flex-direction: column-reverse;*/

    /*WRAP
    flex-wrap:wrap;
    flex-wrap:nowrap;
    flex-wrap:wrap-reverse;
    flex-flow: row wrap-reverse; shortcould é tipo um modo breve escrever */

    background-color: silver;
}

.caixa {
    width: 300px;
    height: 100px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}