
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    height: 600px;
    background-color: silver;
}

.caixa {
    width: 100px;
    height: 100px;
}

.red {
    align-self:center ;
    background-color: red;
}

.blue {
    order: 4;
    background-color: blue;
}

.yellow {
    flex-grow: 2;
    background-color: yellow;
}

.green {
    order: 2;
    background-color: green;
}